@model IEnumerable<Product>

<div class="row row-cols-4">
    @foreach (var item in Model)
    {
        <div class="col mb-5">
            <div class="card h-100">
                <a href="/Products/Details/@item.Id">
                    <img src="/Images/@item.Image" class="card-img-top" alt="@item.Name" title="@item.Name">
                </a>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <h5>@item.Name</h5>
                    @item.Price.ToString("C")
                </div>
            </div>
        </div>
    }
</div>